@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital@0;1&family=Merriweather:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

/* font-family: 'Merriweather', serif;
font-family: 'Merriweather Sans', sans-serif; */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #F8F0E5;
  color: #102C57;
  font-family: 'Merriweather', serif;
  margin: 0px;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  gap: 20px;
}

#logo-image {
  width: 200px;
  margin-top: 20px;
}

label {
  margin-bottom: -10px;
}
input {
  border: 2px solid #EADBC8;
  border-radius: 5px;
  background-color: #F8F0E5;
  padding: 15px;
  font-size: 12pt;
  outline: none;
  transition: border-color 0.3s ease-in-out;
  min-width: 210px;
  text-align: center;
}
input:focus {
  border: 2px solid #102C57;
  transition: border-color 0.3s ease-in-out;
}
button {
  background-color: #102C57;
  border: 0px;
  border-radius: 5px;
  color: white;
  padding: 15px;
  font-size: 12pt;
  min-width: 100px;
  cursor: pointer;
}

a:link {
  color: #102C57;
}

a:visited {
  color: #102C57;
}

.modal-alert {
  background-color: #102C57;
  color: white;
  border-radius: 5px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 20px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.modal-alert-show {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.border-box {
  border: 1px solid #EADBC8;
  border-radius: 5px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

      .custom-loader {
        width:50px;
        height:50px;
        border-radius:50%;
        background:conic-gradient(#0000 10%,#102C57);
        -webkit-mask:radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
        animation:s3 1s infinite linear;
      }
      @keyframes s3 {to{transform: rotate(1turn)}}
