@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital@0;1&family=Merriweather:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

/* font-family: 'Merriweather', serif;
font-family: 'Merriweather Sans', sans-serif; */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #F8F0E5;
  color: #102C57;
  font-family: 'Merriweather', serif;
  margin: 0px;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  gap: 20px;
}

#logo-image {
  width: 200px;
  margin-top: 20px;
}

label {
  margin-bottom: -10px;
}
input {
  border: 2px solid #EADBC8;
  border-radius: 5px;
  background-color: #F8F0E5;
  padding: 15px;
  font-size: 12pt;
  outline: none;
  transition: border-color 0.3s ease-in-out;
  min-width: 210px;
  text-align: left;
}
input:focus {
  border: 2px solid #102C57;
  transition: border-color 0.3s ease-in-out;
}

  .wrong-input {
    border: 2px solid red;
  }

button {
  background-color: #102C57;
  border: 0px;
  border-radius: 5px;
  color: white;
  padding: 15px;
  font-size: 12pt;
  min-width: 100px;
  cursor: pointer;
}

a:link {
  color: #102C57;
}

a:visited {
  color: #102C57;
}

hr {
  width: 100%;
}

/* ---------- // MODALI // ---------- */

  /* --- MODAL ALERT --- */
  .modal-alert {
    background-color: #102C57;
    color: white;
    border-radius: 5px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 20px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }

  .modal-alert-show-add {
    opacity: 1;
    transition: opacity 1s ease-in-out;
  }

  /* --- MODAL SCREEN --- */
  .modal-screen {
    background-color: #102C57;
    color: white;
    border-radius: 5px;
    position: fixed;
    bottom: 20px;
    left: 20px;
    right: 20px;
    top: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 20px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }

  .modal-screen-show-add {
    opacity: 1;
    transition: opacity 1s ease-in-out;
  }


  /* --- LOADER --- */
  .custom-loader {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background:
    radial-gradient(farthest-side,#F8F0E5 94%,#0000) top/8px 8px no-repeat,
    conic-gradient(#0000 30%,#F8F0E5);
  -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
  animation:s3 1s infinite linear;
}

@keyframes s3{
  100%{transform: rotate(1turn)}
}

/* ---------- modali ---------- */

.border-box {
  border: 2px solid #EADBC8;
  border-radius: 5px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

/* ---------- // REGISTER BOX CONTAINER // ---------- */

.border-box-register-add {
  align-items: flex-start;
}

/* ---------- register box container ---------- */



/* ---------- // BOX CARD CONTAINER // ---------- */

.roba-box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

  @media  (min-width: 768px) {
    .roba-box-container {
      padding: 0px 50px;
    }
  }

  @media  (min-width: 1200px) {
    .roba-box-container {
      padding: 0px 200px;
    }
  }

/* ---------- box card container ---------- */

  /* ---------- // BOX CARD // ---------- */

  .roba-box {
  border: 0px solid #102C57;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  }

  .roba-box-img-section {
    border-radius: 5px;
    width: 100%;
    height: 150px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 8px 10px 1px rgba(0, 0, 0, 0.2);
  }

    .roba-box-img-section img {
      width: 150px;
    }

    .roba-box-img-section:hover {
      scale: 1.05;
      transition: 0.3s;
    }


  .roba-box-info-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    padding: 10px 5px;
  }

  @media  (min-width: 768px) {
    .roba-box {
      width: 200px;
    }

    .roba-box-img-section {
      height: 200px;
    }

    .roba-box-img-section img {
      width: 200px;
    }
  }

  @media  (min-width: 1200px) {
    .roba-box {
      width: 240px;
    }

    .roba-box-img-section {
      height: 240px;
    }

    .roba-box-img-section img {
      width: 240px;
    }
  }

  /* ---------- box card ---------- */
